html, body { padding: 0; margin: 0;}

a {
    text-decoration: none !important;
    color: #72A937 !important;
}

.w-80{
    width: 80% !important;
}

.w-20{
    width: 20% !important;
}

.not-found-title{
    color: #FFFFFF;
}